@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Urbanist', sans-serif;
}

.container {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}

.hero {
	background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
	color: #fff;
	display: grid;
	grid-template-rows: max-content 1fr;
	grid-template-areas: 
		"nav"
		"content";
	min-height: 100vh;
}

.nav {
	display: grid;
	justify-content: space-between;
	grid-auto-flow: column;
	gap: 1em;
	align-items: center;
	height: 90px;
	/* grid-area: nav; */
}

.nav__list {
	list-style: none;
	display: grid;
	grid-auto-flow: column;
	gap: 1em;
}

.nav__link {
	color: #fff;
	font-size: 1.2rem;
	text-decoration: none;
}

.nav__logo {
	font-size: 2.0rem;
	font-weight: 300;
}

.nav__menu {
	display: none;
}

.nav__icon {
	width: 30px;
}

/* hero main */
.hero__main {
	grid-area: content;
	display: grid;
	gap: 2em;
	/* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
	grid-template-columns: 1fr 1fr;
	padding-bottom: 180px;
	align-items: center;
}

.hero__waves {
	grid-area: content;
	align-self: end;
}

.hero__title {
	font-size: 2.6rem;
	letter-spacing: 2px;
}

.hero__subtitle {
	margin-top: 1rem;
	margin-bottom: 1.5rem;
	font-size: 1.5rem;
	font-weight: 300;
}

.hero__cta {
	text-decoration: none;
	color: #fff;
	padding: 15px 60px;
	border: 1px solid;
	border-radius: 6px;
	display: inline-block;
	font-weight: 500;
	transition: background-color .3s;
}

.hero__cta:hover {
	background-color: #fff;
	color: #1e3c72
}

.hero__img {
	width: 100%;
}

@media (max-width:800px) {
	.nav__list {
		display: none;
	}

	.nav__menu {
		display: block;
	}

	.hero__main {
		grid-template-columns: 1fr;
		grid-template-rows: max-content max-content;
		text-align: center;
	}

	.hero__picture {
		grid-row: 1/2;
	}

	.hero__img {
		max-width: 500px;
		display: block;
		margin: 0 auto;
	}
}
